{% extends 'base.html.twig' %}

{% block title %}Расписание рейсов{% endblock %}

{% block body %}
    <h1>Расписание рейсов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Из города</th>
                <th>В город</th>
                <th>Цена</th>
                <th>Дата</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.cityfrom }}</td>
                <td>{{ flight.cityto }}</td>
                <td>{{ flight.price }}</td>
                <td>{{ flight.date ? flight.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('flight_show', {'id': flight.id}) }}">Подробнее</a>
                    <a href="{{ path('flight_edit', {'id': flight.id}) }}">Изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Рейсов нет.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-primary"><a href="{{ path('flight_new') }}" style="color:white;">Создать новый рейс</a></button>
{% endblock %}
